In [93]:
import pandas as pd
import matplotlib.pyplot as plt

In [112]:
heart_study = pd.read_csv("Resources/Rates_and_Trends_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults__35___by_County__Age_Group__Race_Ethnicity__and_Sex___2000-2019.csv",dtype={"Year": "str"})

In [113]:
heart_study.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,...,Data_Value_Footnote,Confidence_limit_Low,Confidence_limit_High,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,LocationID
0,1999,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2013,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2014,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2005,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2012,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [114]:
heart_study.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Confidence_limit_Low', 'Confidence_limit_High',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'LocationID'],
      dtype='object')

In [115]:
# Dropping columns our group determined is insignificant to our analysis
heart_study.drop(["GeographicLevel",
                  "DataSource",
                  "Class",
                  "Data_Value_Type",
                  "Confidence_limit_Low",
                  "Confidence_limit_High",
                  "Data_Value_Footnote_Symbol",
                  "Data_Value_Footnote",
                  "StratificationCategory1",
                  "StratificationCategory2",
                  "StratificationCategory3",
                  "LocationID"], axis = 1, inplace = True)

# Renaming columns accordingly
heart_study.rename(columns={
    "LocationAbbr": "State",
    "LocationDesc": "County",
    "Stratification1": "Age Group",
    "Stratification2": "Ethnicity",
    "Stratification3": "Sex"
},
    inplace=True)

heart_study.head()

,Year,State,County,Topic,Data_Value,Data_Value_Unit,Age Group,Ethnicity,Sex
0,1999,AL,Autauga,All heart disease,NaN,"per 100,000",Ages 35-64 years,American Indian/Alaska Native,Overall
1,2013,AL,Autauga,All heart disease,NaN,"per 100,000",Ages 35-64 years,American Indian/Alaska Native,Overall
2,2014,AL,Autauga,All heart disease,NaN,"per 100,000",Ages 35-64 years,American Indian/Alaska Native,Overall
3,2005,AL,Autauga,All heart disease,NaN,"per 100,000",Ages 35-64 years,American Indian/Alaska Native,Overall
4,2012,AL,Autauga,All heart disease,NaN,"per 100,000",Ages 35-64 years,American Indian/Alaska Native,Overall

In [116]:
heart_study.shape

(5770240, 9)

In [117]:
heart_study["Year"].unique()

array(['1999', '2013', '2014', '2005', '2012', '2010', '2009', '2011',
       '2007', '2019', '2018', '2004', '2016', '2015', '2000', '2002',
       '2003', '2006', '2008', '2001', '2017', '1999 - 2010',
       '2010 - 2019'], dtype=object)

In [118]:
# Dropping rows containing "1999-2010" and "2010-2019"
heart_study_cleaned = heart_study[(heart_study.Year != "1999 - 2010") & (heart_study.Year != "2010 - 2019")]
heart_study_cleaned["Year"].unique()

array(['1999', '2013', '2014', '2005', '2012', '2010', '2009', '2011',
       '2007', '2019', '2018', '2004', '2016', '2015', '2000', '2002',
       '2003', '2006', '2008', '2001', '2017'], dtype=object)

In [119]:
# Dropping rows that contain missing values
heart_study_cleaned = heart_study_cleaned.dropna(0)

heart_study_cleaned

/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only

,Year,State,County,Topic,Data_Value,Data_Value_Unit,Age Group,Ethnicity,Sex
53,2016,AL,Autauga,All stroke,25.7,"per 100,000",Ages 35-64 years,Overall,Overall
79,2011,AL,Autauga,All stroke,29.5,"per 100,000",Ages 35-64 years,Overall,Men
106,2017,AL,Autauga,All stroke,33.6,"per 100,000",Ages 35-64 years,Overall,Men
108,2017,AL,Autauga,All heart disease,128.7,"per 100,000",Ages 35-64 years,Overall,Overall
109,2016,AL,Autauga,All heart disease,128.1,"per 100,000",Ages 35-64 years,Overall,Overall
...,...,...,...,...,...,...,...,...,...
5268494,2006,WY,Weston,Heart failure,589.3,"per 100,000",Ages 65 years and older,White,Overall
5268495,2013,WY,Weston,Heart failure,474.9,"per 100,000",Ages 65 years and older,White,Overall
5268496,2004,WY,Weston,Heart failure,600.2,"per 100,000",Ages 65 years and older,White,Overall
5268497,2005,WY,Weston,Heart failure,594.9,"per 100,000",Ages 65 years and older,White,Overall
5268498,2019,WY,Weston,Heart failure,478.2,"per 100,000",Ages 65 years and older,White,Overall

In [120]:
heart_study_overall = heart_study_cleaned[(heart_study_cleaned['Ethnicity'] == 'Overall') & 
                                          (heart_study_cleaned['Sex'] == 'Overall')]
heart_study_overall

,Year,State,County,Topic,Data_Value,Data_Value_Unit,Age Group,Ethnicity,Sex
53,2016,AL,Autauga,All stroke,25.7,"per 100,000",Ages 35-64 years,Overall,Overall
108,2017,AL,Autauga,All heart disease,128.7,"per 100,000",Ages 35-64 years,Overall,Overall
109,2016,AL,Autauga,All heart disease,128.1,"per 100,000",Ages 35-64 years,Overall,Overall
110,2019,AL,Autauga,All heart disease,122.6,"per 100,000",Ages 35-64 years,Overall,Overall
111,2006,AL,Autauga,All heart disease,164.0,"per 100,000",Ages 35-64 years,Overall,Overall
...,...,...,...,...,...,...,...,...,...
5267862,2006,WY,Weston,Heart failure,586.1,"per 100,000",Ages 65 years and older,Overall,Overall
5267863,2014,WY,Weston,Heart failure,466.8,"per 100,000",Ages 65 years and older,Overall,Overall
5267864,1999,WY,Weston,Heart failure,638.3,"per 100,000",Ages 65 years and older,Overall,Overall
5267865,2001,WY,Weston,Heart failure,620.1,"per 100,000",Ages 65 years and older,Overall,Overall
5267866,2000,WY,Weston,Heart failure,615.9,"per 100,000",Ages 65 years and older,Overall,Overall

In [124]:
nj_data = heart_study_overall.loc[heart_study_overall['State'] == 'NJ']
nj_data

,Year,State,County,Topic,Data_Value,Data_Value_Unit,Age Group,Ethnicity,Sex
2970365,2017,NJ,Atlantic,All heart disease,103.7,"per 100,000",Ages 35-64 years,Overall,Overall
2970366,2016,NJ,Atlantic,All heart disease,105.4,"per 100,000",Ages 35-64 years,Overall,Overall
2970367,2019,NJ,Atlantic,All heart disease,95.6,"per 100,000",Ages 35-64 years,Overall,Overall
2970368,2006,NJ,Atlantic,All heart disease,103.0,"per 100,000",Ages 35-64 years,Overall,Overall
2970369,2003,NJ,Atlantic,All heart disease,123.2,"per 100,000",Ages 35-64 years,Overall,Overall
...,...,...,...,...,...,...,...,...,...
3004886,2006,NJ,Warren,Heart failure,380.7,"per 100,000",Ages 65 years and older,Overall,Overall
3004887,2014,NJ,Warren,Heart failure,416.5,"per 100,000",Ages 65 years and older,Overall,Overall
3004888,1999,NJ,Warren,Heart failure,524.9,"per 100,000",Ages 65 years and older,Overall,Overall
3004889,2001,NJ,Warren,Heart failure,445.0,"per 100,000",Ages 65 years and older,Overall,Overall
3004890,2000,NJ,Warren,Heart failure,473.0,"per 100,000",Ages 65 years and older,Overall,Overall

In [123]:
nj_data['Topic'].unique()

array(['All heart disease', 'All stroke', 'Coronary heart disease (CHD)',
       'Cardiovascular disease (CVD)', 'Heart failure'], dtype=object)

In [125]:
nj_hd = nj_data.loc[nj_data['Topic'] == 'All heart disease']
nj_hd

,Year,State,County,Topic,Data_Value,Data_Value_Unit,Age Group,Ethnicity,Sex
2970365,2017,NJ,Atlantic,All heart disease,103.7,"per 100,000",Ages 35-64 years,Overall,Overall
2970366,2016,NJ,Atlantic,All heart disease,105.4,"per 100,000",Ages 35-64 years,Overall,Overall
2970367,2019,NJ,Atlantic,All heart disease,95.6,"per 100,000",Ages 35-64 years,Overall,Overall
2970368,2006,NJ,Atlantic,All heart disease,103.0,"per 100,000",Ages 35-64 years,Overall,Overall
2970369,2003,NJ,Atlantic,All heart disease,123.2,"per 100,000",Ages 35-64 years,Overall,Overall
...,...,...,...,...,...,...,...,...,...
3004802,2007,NJ,Warren,All heart disease,1400.8,"per 100,000",Ages 65 years and older,Overall,Overall
3004803,2010,NJ,Warren,All heart disease,1283.1,"per 100,000",Ages 65 years and older,Overall,Overall
3004804,2006,NJ,Warren,All heart disease,1439.6,"per 100,000",Ages 65 years and older,Overall,Overall
3004805,2011,NJ,Warren,All heart disease,1303.8,"per 100,000",Ages 65 years and older,Overall,Overall
3004806,2012,NJ,Warren,All heart disease,1257.5,"per 100,000",Ages 65 years and older,Overall,Overall